.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.pagination button {
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
  width: 20px;
  height: auto;
  font-weight: 800;
  color: #000000;
  cursor: pointer;
}

.pagination .active {
  border: 1px solid rgb(2, 0, 36);
  font-weight: 400;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .pagination {
    margin-top: 25px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
