.trending-wrapper {
  padding: 20px 0 0 0;
}

.section-heading {
  margin: 20px 0 0 25px;
}

.section-heading{
  display: inline-block;
}
.posters-wrapper {
  width: 100%;
  height: 340px;
  overflow: scroll hidden;
}

.is-trending {
  background: no-repeat center/cover url(../../../assets/imgs/trending-bg.svg);
}

.posters {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  padding-top: 20px;
}


.poster:first-child {
  margin-left: 25px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .posters-wrapper {
    height: 400px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
